 {{#if actionComponent}}
    <!-- action components starts here -->
<section id="join" class="section section--join section--invert section--cta section--background-dark-grey" data-background="dark-grey" rel="join">
    <div class="inner">
        <div class="content">
       
         <div class="action">
            <h2 data-short-title="Join">{{actionComponent.heading}}</h2>
            <div class="txt">
                <p>{{actionComponent.description}}</p>
                <button class="btn btn--cta btn--join" data-short-text="Join">{{actionComponent.joinLabel}}</button>
            </div>
        </div>
        
        {{#if audienceComponent}}
         <!-- Capture components Ends here -->
        <div class="Capture">
            <div class="txt txt--callus">
                <h3>{{audienceComponent.callUslabel}}</h3>
                <p>{{audienceComponent.callUsDescription}}</p>
                <p class="phonenumber">
                    <svg role="img" class="icon icon--call">
                        <use xlink:href="#icn-call"></use>
                    </svg>{{audienceComponent.phoneNumber}}</p>
                <ul class="links">
                    <li><a href="#">{{audienceComponent.requestCallLink}}</a>
                    </li>
                </ul>
            </div>
            <div class="txt txt--emailme">
                <p>{{audienceComponent.emailSummary}}</p>
                <form name="emailme" action="#" method="get">
                    <input type="email" class="input--text input--email" name="email" placeholder="{{audienceComponent.placeholder}}">
                    <button class="btn btn--submit btn--email">
                        <svg role="img" class="icon icon--send">
                            <use xlink:href="#icn-arrow-right"></use>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        <!-- Capture components Ends here -->
        {{/if}}
        </div>

    </div>
</section>
 <!-- action components Ends here -->
{{/if}}

{{#if captureComponent}}
<!-- Fallback components Ends here -->
<section id="more" class="section section--more section--invert section--background-dark-grey" data-background="dark-grey" rel="more">
    <div class="inner">
        <div class="content">
        <h3>{{captureComponent.heading}}</h3>
        {{#each captureComponent.results}}
            <div class="col">
                <h3>{{this.heading}}</h3>
                <p>{{this.description}}</p>
            </div>
        {{/each}}
        </div>
    </div>
</section>
<!-- Fallback components Ends here -->
{{/if}}

