<section id="nonmember" class="section section--nonmember section--background-{{this.color}} section--invert" data-background="{{this.color}}" rel="nonmember">
    <div class="inner">
        <div class="content">
        {{#if this.heading}}
            <h2 data-short-title="Considering Joining">{{this.heading}}</h2>
        {{/if}}
         {{#if this.text}}
            <div class="txt">
                {{{this.text}}}
            </div>
         {{/if}}
         {{#if this.textSmall}}
            <div class="txt txt--small">
                 {{{this.textSmall}}}
            </div>
         {{/if}}
            
            <ul class="links">
            {{#each link}}
                <li><a href="{{href}}" target="_self">{{urlLabel}}</a></li>
            {{/each}}
            </ul>
            
        </div>
    </div>
    <div class="graphic graphic--circle-element">
        <div class="graphic__inner">
            <div class="graphic__element">
                <div class="image" style="background-image:url({{this.imgPath}});">
                    <span class="caption"><b>{{author}}</b><br>{{place}}</span>
                </div>
            </div>
        </div>
    </div>
</section>